# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Project
comic-name.txt
comicSample.json


*.jar

# Derby
*.dat
*.log
README_DO_NOT_TOUCH_FILES.txt

# wikidata api
dumpfiles

database/*.lck

CacheResponse.tmp/*
CacheImage.tmp/*

lc_database/*

classes

characters_sample.csv
comics_sample.csv
characters_urls_sample.csv
characters_first_appearance.csv
