# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Project
comic-name.txt
comicSample.json


*.jar

# Derby
*.dat
*.log
README_DO_NOT_TOUCH_FILES.txt

# wikidata api
dumpfiles
